/* font  fimily */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font  fimily */


/* comon css  code start */
body{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
/* comon css  code end *



/* header code start */
header{
    padding: 15px 0;
}
.manu ul li a{
    margin-left: 30px;
    text-transform: uppercase;
    color: #8e8e8e;
}
.manu ul li a i{
    margin-left: 30px;
   
}
.manu ul li:last-child a{
    margin-left: 0px;
}
/* header code end */
/* banner section code start */
.banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center;
    height: 100vh;

}
.banner-taxt{
    margin-top: 120px;
}
.banner-taxt h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    color: #fff;
}
.banner-taxt p{
    color: #fff;
}
.banner-button{
    margin-top: 40px;
}
.banner-button button{
    
}
.banner-button  a{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    text-transform: capitalize;
    color: #000;
    background-color: #F8F8F8;
}
.banner-button i{
    margin-left: 12px;
}
.np-button{
    margin-top: 200px;
    display: flex;
}
.np-button button{
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    text-transform: capitalize;
}
.np-button button:hover{
    background-color: #8e8e8e;
}
.np-button button:first-child{
    border-right: 1px solid #000;
}
/* banner section code end */
/* welcam section code start */
.welcam{

}
.welcam-text{
    padding: 65px 0px 40px;
    position: relative;
}
.welcam-text h1{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}
.welcam-text::before{
    content: "";
    width: 2px;
    height: 50px;
    position: absolute;
    background-color: #000000c9;
    top: -0.5%;
    left: 50%;             
    z-index: 1;
}
.wel-p{
    text-align: center;
    margin-bottom: 110px;
}
.singl-box{
    padding: 70px 10px 30px;
    border: 2px solid #24232356;
    position: relative;
    text-align: center;
    margin-bottom: 90px;
}
.singl-box:hover{
    border: 2px solid #000;
}
.singl-box .sbox-icon{
    position: absolute;
    top: -9.50%;
    left: 38%;
}
.singl-box .sbox-icon i{
    font-size: 60px;
    color: #00000094;
}
.singl-box:hover .sbox-icon i{
    color: #000;
}
.singl-box h2{
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 700;
    color: #00000085;
    position: relative;
}
.singl-box h2::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    bottom: -60%;
    left: 40%;
    background-color: #00000081;

}
.singl-box:hover h2{
    color: #000;
}
.singl-box:hover h2::after{
    background-color: #000;
}
.singl-box p{
    line-height: 25px;
}
.singl-box a{
    color: #0000007e;
    text-transform: uppercase;
}
.singl-box:hover a{
    color: #000;
}
.singl-box a i{
    margin-left: 15px;
}
/* welcam section code end */

/* about section  code start  */
.about{
 padding: 20px 0px 130px;
}
.about-img{
    width: 100%;
}
.about-img img{
    width: 100%;
}
.about-text{
    
}
.about-text h1{
    margin-bottom: 50px;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}
.aboutp-1{
    line-height: 25px;
    margin-bottom: 50px;
}
.aboutp-2{
    line-height: 25px;
    margin-bottom: 45px;
}
.about-btn{
    margin-top: 60px;
}

.about-btn  a{
    padding: 10px 15px;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
}
.about-btn a i{
    margin-left: 20px;
}
/* about section  code end */

/* work section code start */
.work-section{
    background-color: #F8F8F8;
    padding: 0 0 70px;

}
.work-but{

}
.work-but ul li a{
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #00000000;
    color: #8e8e8e;
    text-transform: uppercase;
}
.work-but ul li a:hover{
    border: 1px solid #000;
}
.work-singl-box{
    margin-top: 30px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.work-singl-box:hover .blog-img{
    transform: scale(1.3);
}
.work-singl-box img{
    width: 100%;
    transition: .5s;
}
.work-icon{
    display: none;
    transition: .3s;
    cursor: pointer;
}
.work-singl-box:hover .work-icon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: #00000052;
    transition: .5s;
}
.work-icon i{
    font-size: 40px;
    color: #fff;
    
}
.img-hober-box{
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    transition: 0.5s;
}
.work-singl-box:hover .img-hober-box{
    display: block;
}
.img-hober-box i{
   
}
.hover-h2{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
}
.hover-p{
    margin-left: 40px;
    color: #8e8e8e;
    text-transform: capitalize;
}
/* work section code end  */


























